<?xml version="1.0" encoding="utf-8" ?>
<rewriter>

  <!-- ============= Custom rewrite-code plug-ins ============= -->

  <!-- The next 2 lines register a parser to check that the current URL does not end with "/sitefinity/". For any other URL trailing slashes are trimmed -->
  <register parser="SitefinityWebApp.UrlRewrites.SitefinityBackendExclusionConditionParser, SitefinityWebApp" />
  <register transform="SitefinityWebApp.UrlRewrites.TrailingSlashesTrimmerTransform, SitefinityWebApp" />

  <!-- ============= Custom rewrite-code plug-ins ============= -->

  <!--Redirect slash-trailed articles to non-slash-trailed, except back-end URLs, which may cause redirection loops in some cases-->
  <if isSitefinityBackend="false">
    <redirect method="GET" url="~/(.*)\/$" to="~/${trailingSlashesTrimmerTransform($1)}"/>

  </if>

</rewriter>
