<?xml version="1.0" encoding="utf-8"?>
<analyticsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6110.0">
	<Sites>
		<add SiteName="Default" SiteId="e4fd7cf1-335e-44cb-990f-a2b92069a929">
			<ApplicationSettings AccessToken="ya29.Ci-WA8YbsOMcoO9tLCQO5B9mJDYD_8EEAibx7BAeMStD0gKMxU4XHQV9QtqEBZxhbQ" AccountId="235702" TokenType="Bearer" AccountName="SHUNGHAM SITE (Filtered)" ClientId="385577498232-3m3g4j8hcv8tmb7gprg4eickmu6ptkpk.apps.googleusercontent.com" ClientSecret="y0xSkRlZWkJs4IYDbojlWhpk" ExpiresInSeconds="3600" ExpiresOn="2016/11/14" ProfileId="106331744" RefreshToken="1/TilvpTW73D1rnIH5_bSOh3kVRnLf-EKC91qfZXXPysg" TrackedDomain="www.shungham.com" WebProperty="UA-235702-12" />
		</add>
	</Sites>
</analyticsConfig>