<?xml version="1.0" encoding="utf-8"?>
<dynamicModulesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6110.0">
	<contentViewControls>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnectorEcommerce.CrmPriceListBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="CRM Price ListBackendList" configFile="DynamicModulesConfig.ThPrtlCnnc.CrmPrcLs_cLstBckndLst.config" />
				<config:lazy key="CRM Price ListBackendInsertView" configFile="DynamicModulesConfig.ThPrtlCnnc.CrmPrcLs_BckndInsrtVw.config" />
				<config:lazy key="CRM Price ListBackendPreviewView" configFile="DynamicModulesConfig.ThPrtlCnnc.CrmPrcLs_tBckndPrvwVw.config" />
				<config:lazy key="CRM Price ListBackendEditView" configFile="DynamicModulesConfig.ThPrtlCnnc.CrmPrcLs_stBckndEdtVw.config" />
				<config:lazy key="CRM Price ListBackendDuplicateView" configFile="DynamicModulesConfig.ThPrtlCnnc.CrmPrcLs_BckndDplctVw.config" />
				<config:lazy key="CRM Price ListBackendVersionPreview" configFile="DynamicModulesConfig.ThPrtlCnnc.CrmPrcLs_ckndVrsnPrvw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnectorEcommerce.CrmProductBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="CRM ProductBackendList" configFile="DynamicModulesConfig.ThPrtlCnnc.CrmPrdct_rdctBckndLst.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnectorEcommerce.CrmDiscountListBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="CRM Discount ListBackendList" configFile="DynamicModulesConfig.ThPrtlCnnc.CrmDscnt_tLstBckndLst.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnectorEcommerce.CrmProductPropertyBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="CRM Product PropertyBackendList" configFile="DynamicModulesConfig.ThPrtlCnnc.CrmPrdct_prtyBckndLst.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnectorEcommerce.CrmProductPropertyOptionBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="CRM Product Property OptionBackendList" configFile="DynamicModulesConfig.ThPrtlCnnc.CrmPrdct_OptnBckndLst.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnectorEcommerce.CrmDiscountBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="CRM DiscountBackendList" configFile="DynamicModulesConfig.ThPrtlCnnc.CrmDscnt_scntBckndLst.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnectorExtensions.SavedQueryBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="Saved QueryBackendInsertView" configFile="DynamicModulesConfig.ThPrtlCnnc.SvdQuery_BckndInsrtVw.config" />
				<config:lazy key="Saved QueryBackendPreviewView" configFile="DynamicModulesConfig.ThPrtlCnnc.SvdQuery_yBckndPrvwVw.config" />
				<config:lazy key="Saved QueryBackendEditView" configFile="DynamicModulesConfig.ThPrtlCnnc.SvdQuery_ryBckndEdtVw.config" />
				<config:lazy key="Saved QueryBackendDuplicateView" configFile="DynamicModulesConfig.ThPrtlCnnc.SvdQuery_BckndDplctVw.config" />
				<config:lazy key="Saved QueryBackendVersionPreview" configFile="DynamicModulesConfig.ThPrtlCnnc.SvdQuery_ckndVrsnPrvw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnector.CrmEntityBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="CRM EntityBackendList" configFile="DynamicModulesConfig.ThPrtlCnnc.CrmEntty_nttyBckndLst.config" />
				<config:lazy key="CRM EntityBackendInsertView" configFile="DynamicModulesConfig.ThPrtlCnnc.CrmEntty_BckndInsrtVw.config" />
				<config:lazy key="CRM EntityBackendPreviewView" configFile="DynamicModulesConfig.ThPrtlCnnc.CrmEntty_yBckndPrvwVw.config" />
				<config:lazy key="CRM EntityBackendEditView" configFile="DynamicModulesConfig.ThPrtlCnnc.CrmEntty_tyBckndEdtVw.config" />
				<config:lazy key="CRM EntityBackendDuplicateView" configFile="DynamicModulesConfig.ThPrtlCnnc.CrmEntty_BckndDplctVw.config" />
				<config:lazy key="CRM EntityBackendVersionPreview" configFile="DynamicModulesConfig.ThPrtlCnnc.CrmEntty_ckndVrsnPrvw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnector.CrmFormSubmissionBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="CRM Form SubmissionBackendList" configFile="DynamicModulesConfig.ThPrtlCnnc.CrmFrmSb_mssnBckndLst.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.KnowledgeBase.ArticleBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="ArticleBackendList" configFile="DynamicModulesConfig.KnwldgBase.Article_rtclBckndLst.config" />
				<config:lazy key="ArticleBackendInsertView" configFile="DynamicModulesConfig.KnwldgBase.Article_BckndInsrtVw.config" />
				<config:lazy key="ArticleBackendPreviewView" configFile="DynamicModulesConfig.KnwldgBase.Article_lBckndPrvwVw.config" />
				<config:lazy key="ArticleBackendEditView" configFile="DynamicModulesConfig.KnwldgBase.Article_clBckndEdtVw.config" />
			</views>
		</contentViewControl>
	</contentViewControls>
</dynamicModulesConfig>