<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6110.0" viewName="ArticleBackendList" config:flags="1">
	<dialogs>
		<add params="?moduleName=Knowledge Base&amp;typeName=Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleType&amp;securedObjectId=fcb2a155-7cc6-66b4-9499-ff0000b33be5&amp;backLabelText=Back to items&amp;title=Permissions&amp;permissionSetName=General" id="ModulePermissionsDialog on permissions" config:flags="1" />
	</dialogs>
	<viewModes>
		<add Name="Grid" config:flags="1">
			<columns>
				<add clientTemplate="&lt;a sys:href='javascript:void(0);' sys:class=&quot;{{ 'sf_binderCommand_edit sfItemTitle sf' + Lifecycle.WorkflowStatus.replace(' ','').toLowerCase()}}&quot;&gt;&lt;strong&gt;{{ArticleId.PersistedValue}}&lt;/strong&gt;&lt;span class='sfStatusLocation'&gt;{{Lifecycle.Message}}&lt;/span&gt;&lt;/a&gt;" name="ArticleId" config:flags="1" />
				<add headerText="Stats" titleText="Stats" name="GoogleStats" config:flags="1" />
			</columns>
		</add>
	</viewModes>
	<sidebar>
		<sections>
			<section name="Filter" config:flags="1">
				<items>
					<item commandName="hideSectionsExcept" commandArgument="{&quot;sectionIds&quot;:[&quot;crmknowledgebasesubjectsFilterSection&quot;]}" commandButtonType="SimpleLinkButton" isFilter="False" openInSameWindow="False" text="by CRM Knowledge Base Subjects..." wrapperTagKey="Unknown" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="CRM Knowledge Base SubjectsCommand" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
				</items>
			</section>
			<section name="CRMKnowledgeBaseSubjects" config:flags="1">
				<items>
					<item commandName="showSectionsExcept" name="CloseCRMKnowledgeBaseSubjects" config:flags="1" />
					<item pageSize="10" moreLinkText="Show more crmknowledgebasesubjects" moreLinkCssClass="sfShowMore" lessLinkText="Show less crmknowledgebasesubjects" lessLinkCssClass="sfShowMore" name="CRMKnowledgeBaseSubjectsFilter" config:flags="1" />
				</items>
			</section>
			<section cssClass="sfWidgetsList sfSettings" name="Settings" config:flags="1" />
		</sections>
	</sidebar>
</view>