<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6110.0" viewName="CRM Form SubmissionBackendList" config:flags="1">
	<dialogs>
		<add params="?moduleName=The Portal Connector&amp;typeName=Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleType&amp;securedObjectId=01b2a155-7cc6-66b4-9499-ff0000b33be5&amp;backLabelText=Back to items&amp;title=Permissions&amp;permissionSetName=General" id="ModulePermissionsDialog on permissions" config:flags="1" />
	</dialogs>
	<viewModes>
		<add Name="Grid" config:flags="1">
			<columns>
				<add clientTemplate="&lt;a sys:href='javascript:void(0);' sys:class=&quot;{{ 'sf_binderCommand_edit sfItemTitle sf' + Lifecycle.WorkflowStatus.replace(' ','').toLowerCase()}}&quot;&gt;&lt;strong&gt;{{Title.PersistedValue}}&lt;/strong&gt;&lt;span class='sfStatusLocation'&gt;{{Lifecycle.Message}}&lt;/span&gt;&lt;/a&gt;" name="Title" config:flags="1" />
				<add headerText="Stats" titleText="Stats" name="GoogleStats" config:flags="1" />
				<add dynamicMarkupGenerator="Telerik.Sitefinity.Localization.Web.UI.LanguagesColumnMarkupGenerator, Telerik.Sitefinity" resourceClassId="LocalizationResources" headerCssClass="sfLanguagesCol" headerText="Translations" itemCssClass="sfLanguagesCol" width="0" disableSorting="False" name="Translations" type:this="Telerik.Sitefinity.Web.UI.ContentUI.Views.Backend.Master.Config.DynamicColumnElement, Telerik.Sitefinity" />
			</columns>
		</add>
	</viewModes>
	<sidebar>
		<sections>
			<section name="Filter" config:flags="1">
				<items>
					<item commandName="showMasterItems" commandButtonType="SimpleLinkButton" isFilter="False" openInSameWindow="False" text="Draft" resourceclassid="ModuleBuilderResources" wrapperTagKey="Unknown" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="DraftTelerik.Sitefinity.DynamicTypes.Model.ThePortalConnector.CrmFormSubmission" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
					<item commandName="showPublishedItems" commandButtonType="SimpleLinkButton" isFilter="False" openInSameWindow="False" text="Published" resourceclassid="ModuleBuilderResources" wrapperTagKey="Unknown" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="PublishedTelerik.Sitefinity.DynamicTypes.Model.ThePortalConnector.CrmFormSubmission" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
					<item commandName="showScheduledItems" commandButtonType="SimpleLinkButton" isFilter="False" openInSameWindow="False" text="Scheduled" resourceclassid="ModuleBuilderResources" wrapperTagKey="Unknown" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="ScheduledTelerik.Sitefinity.DynamicTypes.Model.ThePortalConnector.CrmFormSubmission" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
				</items>
			</section>
			<section cssClass="sfWidgetsList sfSettings" name="Settings" config:flags="1" />
		</sections>
	</sidebar>
</view>