<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6110.0" viewName="CRM Product Property OptionBackendList" config:flags="1">
	<viewModes>
		<add Name="Grid" config:flags="1">
			<columns>
				<add clientTemplate="&lt;a sys:href='javascript:void(0);' sys:class=&quot;{{ 'sf_binderCommand_edit sfItemTitle sf' + Lifecycle.WorkflowStatus.replace(' ','').toLowerCase()}}&quot;&gt;&lt;strong&gt;{{Name.PersistedValue}}&lt;/strong&gt;&lt;span class='sfStatusLocation'&gt;{{Lifecycle.Message}}&lt;/span&gt;&lt;/a&gt;" name="Name" config:flags="1" />
			</columns>
		</add>
	</viewModes>
</view>