<?xml version="1.0" encoding="utf-8"?>
<portalConnectorConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6110.0">
	<CRMConnections>
		<add connectionType="OnPremise" protocol="https" url="shungham-dev.entercrm.com/shungham-dev" domain="CLOUD" username="CLOUD\portalconnect_euistr" timeout="00:10:00" connectionTimeout="6" webServicePassword="CRKF7y2sVuEfXKipxec7nA==" portalId="00000000-0000-0000-0000-000000000000" enableTracing="False" name="Default Connection" />
	</CRMConnections>
	<crmEntityStateList>
		<add logicalName="activitypointer">
			<crmStates>
				<add stateEnabled="True" stateCode="0" />
				<add stateEnabled="False" stateCode="1" />
				<add stateEnabled="False" stateCode="2" />
				<add stateEnabled="False" stateCode="3" />
			</crmStates>
		</add>
		<add logicalName="appointment">
			<crmStates>
				<add stateEnabled="True" stateCode="0" />
				<add stateEnabled="False" stateCode="1" />
				<add stateEnabled="False" stateCode="2" />
				<add stateEnabled="False" stateCode="3" />
			</crmStates>
		</add>
		<add logicalName="kbarticle">
			<crmStates>
				<add stateEnabled="True" stateCode="1" />
				<add stateEnabled="True" stateCode="2" />
				<add stateEnabled="False" stateCode="3" />
			</crmStates>
		</add>
		<add logicalName="campaign">
			<crmStates>
				<add stateEnabled="True" stateCode="0" />
				<add stateEnabled="False" stateCode="1" />
			</crmStates>
		</add>
		<add logicalName="campaignactivity">
			<crmStates>
				<add stateEnabled="True" stateCode="0" />
				<add stateEnabled="False" stateCode="1" />
				<add stateEnabled="False" stateCode="2" />
			</crmStates>
		</add>
		<add logicalName="campaignresponse">
			<crmStates>
				<add stateEnabled="True" stateCode="0" />
				<add stateEnabled="False" stateCode="1" />
				<add stateEnabled="False" stateCode="2" />
			</crmStates>
		</add>
		<add logicalName="incident">
			<crmStates>
				<add stateEnabled="True" stateCode="0" />
				<add stateEnabled="False" stateCode="1" />
				<add stateEnabled="False" stateCode="2" />
			</crmStates>
		</add>
		<add logicalName="incidentresolution">
			<crmStates>
				<add stateEnabled="True" stateCode="0" />
				<add stateEnabled="False" stateCode="1" />
				<add stateEnabled="False" stateCode="2" />
			</crmStates>
		</add>
		<add logicalName="contract">
			<crmStates>
				<add stateEnabled="True" stateCode="0" />
				<add stateEnabled="False" stateCode="1" />
				<add stateEnabled="True" stateCode="2" />
				<add stateEnabled="False" stateCode="3" />
				<add stateEnabled="False" stateCode="4" />
				<add stateEnabled="False" stateCode="5" />
			</crmStates>
		</add>
		<add logicalName="contractdetail">
			<crmStates>
				<add stateEnabled="True" stateCode="0" />
				<add stateEnabled="False" stateCode="1" />
				<add stateEnabled="False" stateCode="2" />
				<add stateEnabled="False" stateCode="3" />
			</crmStates>
		</add>
		<add logicalName="importmap">
			<crmStates>
				<add stateEnabled="True" stateCode="0" />
			</crmStates>
		</add>
		<add logicalName="discounttype">
			<crmStates>
				<add stateEnabled="True" stateCode="0" />
				<add stateEnabled="False" stateCode="1" />
			</crmStates>
		</add>
		<add logicalName="duplicaterule">
			<crmStates>
				<add stateEnabled="False" stateCode="0" />
				<add stateEnabled="True" stateCode="1" />
			</crmStates>
		</add>
		<add logicalName="email">
			<crmStates>
				<add stateEnabled="True" stateCode="0" />
				<add stateEnabled="False" stateCode="1" />
				<add stateEnabled="False" stateCode="2" />
			</crmStates>
		</add>
		<add logicalName="fax">
			<crmStates>
				<add stateEnabled="True" stateCode="0" />
				<add stateEnabled="False" stateCode="1" />
				<add stateEnabled="False" stateCode="2" />
			</crmStates>
		</add>
		<add logicalName="invoice">
			<crmStates>
				<add stateEnabled="True" stateCode="0" />
				<add stateEnabled="False" stateCode="1" />
				<add stateEnabled="False" stateCode="2" />
				<add stateEnabled="False" stateCode="3" />
			</crmStates>
		</add>
		<add logicalName="lead">
			<crmStates>
				<add stateEnabled="True" stateCode="0" />
				<add stateEnabled="False" stateCode="1" />
				<add stateEnabled="False" stateCode="2" />
			</crmStates>
		</add>
		<add logicalName="opportunity">
			<crmStates>
				<add stateEnabled="True" stateCode="0" />
				<add stateEnabled="False" stateCode="1" />
				<add stateEnabled="False" stateCode="2" />
			</crmStates>
		</add>
		<add logicalName="opportunityclose">
			<crmStates>
				<add stateEnabled="True" stateCode="0" />
				<add stateEnabled="False" stateCode="1" />
				<add stateEnabled="False" stateCode="2" />
			</crmStates>
		</add>
		<add logicalName="salesorder">
			<crmStates>
				<add stateEnabled="True" stateCode="0" />
				<add stateEnabled="False" stateCode="1" />
				<add stateEnabled="False" stateCode="2" />
				<add stateEnabled="False" stateCode="3" />
				<add stateEnabled="False" stateCode="4" />
			</crmStates>
		</add>
		<add logicalName="orderclose">
			<crmStates>
				<add stateEnabled="True" stateCode="0" />
				<add stateEnabled="False" stateCode="1" />
				<add stateEnabled="False" stateCode="2" />
			</crmStates>
		</add>
		<add logicalName="phonecall">
			<crmStates>
				<add stateEnabled="True" stateCode="0" />
				<add stateEnabled="False" stateCode="1" />
				<add stateEnabled="False" stateCode="2" />
			</crmStates>
		</add>
		<add logicalName="workflow">
			<crmStates>
				<add stateEnabled="True" stateCode="0" />
				<add stateEnabled="False" stateCode="1" />
			</crmStates>
		</add>
		<add logicalName="bulkoperation">
			<crmStates>
				<add stateEnabled="True" stateCode="0" />
				<add stateEnabled="False" stateCode="1" />
				<add stateEnabled="False" stateCode="2" />
			</crmStates>
		</add>
		<add logicalName="quote">
			<crmStates>
				<add stateEnabled="True" stateCode="0" />
				<add stateEnabled="True" stateCode="1" />
				<add stateEnabled="False" stateCode="2" />
				<add stateEnabled="False" stateCode="3" />
			</crmStates>
		</add>
		<add logicalName="quoteclose">
			<crmStates>
				<add stateEnabled="True" stateCode="0" />
				<add stateEnabled="False" stateCode="1" />
				<add stateEnabled="False" stateCode="2" />
			</crmStates>
		</add>
		<add logicalName="recurringappointmentmaster">
			<crmStates>
				<add stateEnabled="True" stateCode="0" />
				<add stateEnabled="False" stateCode="1" />
				<add stateEnabled="False" stateCode="2" />
				<add stateEnabled="False" stateCode="3" />
			</crmStates>
		</add>
		<add logicalName="serviceappointment">
			<crmStates>
				<add stateEnabled="True" stateCode="0" />
				<add stateEnabled="False" stateCode="1" />
				<add stateEnabled="False" stateCode="2" />
				<add stateEnabled="False" stateCode="3" />
			</crmStates>
		</add>
		<add logicalName="task">
			<crmStates>
				<add stateEnabled="True" stateCode="0" />
				<add stateEnabled="False" stateCode="1" />
				<add stateEnabled="False" stateCode="2" />
			</crmStates>
		</add>
	</crmEntityStateList>
	<crmStateExclusion>
		<add logicalName="accountleads" />
		<add logicalName="activitymimeattachment" />
		<add logicalName="activityparty" />
		<add logicalName="annotation" />
		<add logicalName="annualfiscalcalendar" />
		<add logicalName="applicationfile" />
		<add logicalName="attachment" />
		<add logicalName="attributemap" />
		<add logicalName="audit" />
		<add logicalName="bulkdeletefailure" />
		<add logicalName="bulkoperationlog" />
		<add logicalName="businessunit" />
		<add logicalName="businessunitmap" />
		<add logicalName="businessunitnewsarticle" />
		<add logicalName="calendar" />
		<add logicalName="calendarrule" />
		<add logicalName="campaignactivityitem" />
		<add logicalName="campaignitem" />
		<add logicalName="clientupdate" />
		<add logicalName="competitor" />
		<add logicalName="competitoraddress" />
		<add logicalName="competitorproduct" />
		<add logicalName="competitorsalesliterature" />
		<add logicalName="complexcontrol" />
		<add logicalName="connectionroleassociation" />
		<add logicalName="connectionroleobjecttypecode" />
		<add logicalName="constraintbasedgroup" />
		<add logicalName="contactinvoices" />
		<add logicalName="contactleads" />
		<add logicalName="contactorders" />
		<add logicalName="contactquotes" />
		<add logicalName="contracttemplate" />
		<add logicalName="customeraddress" />
		<add logicalName="customeropportunityrole" />
		<add logicalName="customerrelationship" />
		<add logicalName="dependency" />
		<add logicalName="dependencynode" />
		<add logicalName="displaystring" />
		<add logicalName="displaystringmap" />
		<add logicalName="documentindex" />
		<add logicalName="duplicaterecord" />
		<add logicalName="duplicaterulecondition" />
		<add logicalName="emailhash" />
		<add logicalName="emailsearch" />
		<add logicalName="entitymap" />
		<add logicalName="equipment" />
		<add logicalName="fieldpermission" />
		<add logicalName="fieldsecurityprofile" />
		<add logicalName="filtertemplate" />
		<add logicalName="fixedmonthlyfiscalcalendar" />
		<add logicalName="importjob" />
		<add logicalName="internaladdress" />
		<add logicalName="interprocesslock" />
		<add logicalName="invaliddependency" />
		<add logicalName="invoicedetail" />
		<add logicalName="isvconfig" />
		<add logicalName="kbarticlecomment" />
		<add logicalName="kbarticletemplate" />
		<add logicalName="leadaddress" />
		<add logicalName="leadcompetitors" />
		<add logicalName="leadproduct" />
		<add logicalName="license" />
		<add logicalName="listmember" />
		<add logicalName="monthlyfiscalcalendar" />
		<add logicalName="notification" />
		<add logicalName="opportunitycompetitors" />
		<add logicalName="opportunityproduct" />
		<add logicalName="organization" />
		<add logicalName="organizationstatistic" />
		<add logicalName="organizationui" />
		<add logicalName="owner" />
		<add logicalName="pluginassembly" />
		<add logicalName="plugintype" />
		<add logicalName="plugintypestatistic" />
		<add logicalName="post" />
		<add logicalName="postcomment" />
		<add logicalName="postfollow" />
		<add logicalName="postlike" />
		<add logicalName="postregarding" />
		<add logicalName="postrole" />
		<add logicalName="principalattributeaccessmap" />
		<add logicalName="principalentitymap" />
		<add logicalName="principalobjectaccess" />
		<add logicalName="principalobjectaccessreadsnapshot" />
		<add logicalName="principalobjectattributeaccess" />
		<add logicalName="privilege" />
		<add logicalName="privilegeobjecttypecodes" />
		<add logicalName="productassociation" />
		<add logicalName="productpricelevel" />
		<add logicalName="productsalesliterature" />
		<add logicalName="productsubstitute" />
		<add logicalName="publisher" />
		<add logicalName="publisheraddress" />
		<add logicalName="quarterlyfiscalcalendar" />
		<add logicalName="quotedetail" />
		<add logicalName="recordcountsnapshot" />
		<add logicalName="recurrencerule" />
		<add logicalName="relationshiprolemap" />
		<add logicalName="replicationbacklog" />
		<add logicalName="report" />
		<add logicalName="reportcategory" />
		<add logicalName="reportentity" />
		<add logicalName="reportlink" />
		<add logicalName="reportvisibility" />
		<add logicalName="resource" />
		<add logicalName="resourcegroup" />
		<add logicalName="resourcegroupexpansion" />
		<add logicalName="resourcespec" />
		<add logicalName="ribboncommand" />
		<add logicalName="ribboncontextgroup" />
		<add logicalName="ribboncustomization" />
		<add logicalName="ribbondiff" />
		<add logicalName="ribbonrule" />
		<add logicalName="ribbontabtocommandmap" />
		<add logicalName="role" />
		<add logicalName="roleprivileges" />
		<add logicalName="roletemplate" />
		<add logicalName="roletemplateprivileges" />
		<add logicalName="rollupfield" />
		<add logicalName="salesliterature" />
		<add logicalName="salesliteratureitem" />
		<add logicalName="salesorderdetail" />
		<add logicalName="salesprocessinstance" />
		<add logicalName="savedqueryvisualization" />
		<add logicalName="sdkmessage" />
		<add logicalName="sdkmessagefilter" />
		<add logicalName="sdkmessagepair" />
		<add logicalName="sdkmessageprocessingstepimage" />
		<add logicalName="sdkmessageprocessingstepsecureconfig" />
		<add logicalName="sdkmessagerequest" />
		<add logicalName="sdkmessagerequestfield" />
		<add logicalName="sdkmessageresponse" />
		<add logicalName="sdkmessageresponsefield" />
		<add logicalName="semiannualfiscalcalendar" />
		<add logicalName="servicecontractcontacts" />
		<add logicalName="serviceendpoint" />
		<add logicalName="site" />
		<add logicalName="sitemap" />
		<add logicalName="solution" />
		<add logicalName="solutioncomponent" />
		<add logicalName="statusmap" />
		<add logicalName="stringmap" />
		<add logicalName="subject" />
		<add logicalName="subscription" />
		<add logicalName="subscriptionclients" />
		<add logicalName="subscriptionmanuallytrackedobject" />
		<add logicalName="subscriptionsyncinfo" />
		<add logicalName="subscriptiontrackingdeletedobject" />
		<add logicalName="systemform" />
		<add logicalName="systemuser" />
		<add logicalName="systemuserbusinessunitentitymap" />
		<add logicalName="systemuserlicenses" />
		<add logicalName="systemuserprincipals" />
		<add logicalName="systemuserprofiles" />
		<add logicalName="systemuserroles" />
		<add logicalName="team" />
		<add logicalName="teammembership" />
		<add logicalName="teamprofiles" />
		<add logicalName="teamroles" />
		<add logicalName="template" />
		<add logicalName="territory" />
		<add logicalName="timezonedefinition" />
		<add logicalName="timezonelocalizedname" />
		<add logicalName="timezonerule" />
		<add logicalName="transformationparametermapping" />
		<add logicalName="unresolvedaddress" />
		<add logicalName="uom" />
		<add logicalName="userentityinstancedata" />
		<add logicalName="userentityuisettings" />
		<add logicalName="userfiscalcalendar" />
		<add logicalName="userform" />
		<add logicalName="userqueryvisualization" />
		<add logicalName="usersettings" />
		<add logicalName="webresource" />
		<add logicalName="webwizard" />
		<add logicalName="wizardaccessprivilege" />
		<add logicalName="wizardpage" />
		<add logicalName="workflowdependency" />
		<add logicalName="workflowlog" />
		<add logicalName="workflowwaitsubscription" />
	</crmStateExclusion>
	<portalErrorHandling sendErrorEmail="True" sendErrorEmailAddress="veronica.milcheva@gmail.com" errorVerbosity="Developer" />
	<portalGeneralSettings initialized="True" />
	<helpFileLocations>
		<add type="pavliks.PortalConnector.Controls.Page.CrmFormManager.CrmFormManager" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/page-widgets/crm-form-manager" name="CrmFormManager" />
		<add type="pavliks.PortalConnector.Controls.Page.CrmAddEditGridView.CrmAddEditGridView" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/page-widgets/crm-add-edit-grid-view" name="CrmAddEditGridView" />
		<add type="pavliks.PortalConnector.Controls.Page.CrmGridView.CrmGridView" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/page-widgets/crm-grid-view" name="CrmGridView" />
		<add type="pavliks.PortalConnector.Controls.Page.CrmFilteredView.CrmFilteredView" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/page-widgets/crm-filtered-view" name="CrmFilteredView" />
		<add type="pavliks.PortalConnector.Controls.Page.CrmListView.CrmListView" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/page-widgets/crm-list-view" name="CrmListView" />
		<add type="pavliks.PortalConnector.Controls.Page.CrmUserCreator.CrmUserCreator" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/page-widgets/crm-user-creator" name="CrmUserCreator" />
		<add type="pavliks.PortalConnector.Controls.Page.CrmUserInvite.CrmUserInvite" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/page-widgets/crm-user-invite" name="CrmUserInvite" />
		<add type="pavliks.PortalConnector.Controls.Page.FormDecorator.FormDecorator" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/page-widgets/form-decorator" name="FormDecorator" />
		<add type="pavliks.PortalConnector.Controls.Page.PageToPDF.PageToPDF" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/page-widgets/page-to-pdf" name="PageToPDF" />
		<add type="pavliks.PortalConnector.Controls.Page.CrmChartView.CrmChartView" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/page-widgets/crm-chart-view" name="CrmChartView" />
		<add type="pavliks.PortalConnector.Controls.Page.Charts.CrmAreaChart.CrmAreaChart" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/page-widgets/crm-area-chart" name="CrmAreaChart" />
		<add type="pavliks.PortalConnector.Controls.Page.Charts.CrmBarChart.CrmBarChart" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/page-widgets/crm-bar-chart" name="CrmBarChart" />
		<add type="pavliks.PortalConnector.Controls.Page.Charts.CrmColumnChart.CrmColumnChart" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/page-widgets/crm-column-chart" name="CrmColumnChart" />
		<add type="pavliks.PortalConnector.Controls.Page.Charts.CrmDonutChart.CrmDonutChart" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/page-widgets/crm-donut-chart" name="CrmDonutChart" />
		<add type="pavliks.PortalConnector.Controls.Page.Charts.CrmFunnelChart.CrmFunnelChart" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/page-widgets/crm-funnel-chart" name="CrmFunnelChart" />
		<add type="pavliks.PortalConnector.Controls.Page.Charts.CrmLineChart.CrmLineChart" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/page-widgets/crm-line-chart" name="CrmLineChart" />
		<add type="pavliks.PortalConnector.Controls.Page.Charts.CrmPieChart.CrmPieChart" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/page-widgets/crm-pie-chart" name="CrmPieChart" />
		<add type="pavliks.PortalConnector.Controls.Form.CrmFormConfiguration.CrmFormConfiguration" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/form-widgets/crm-form-configuration" name="CrmFormConfiguration" />
		<add type="pavliks.PortalConnector.Controls.Form.CrmTextField.CrmTextField" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/form-widgets/crm-text-field" name="CrmTextField" />
		<add type="pavliks.PortalConnector.Controls.Form.CrmPicklist.CrmPicklist" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/form-widgets/crm-picklist" name="CrmPicklist" />
		<add type="pavliks.PortalConnector.Controls.Form.CrmLookup.CrmLookup" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/form-widgets/crm-lookup" name="CrmLookup" />
		<add type="pavliks.PortalConnector.Controls.Form.CrmBoolean.CrmBoolean" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/form-widgets/crm-yes-no" name="CrmBoolean" />
		<add type="pavliks.PortalConnector.Controls.Form.CrmDateTimeField.CrmDateTimeField" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/form-widgets/crm-date-time" name="CrmDateTimeField" />
		<add type="pavliks.PortalConnector.Controls.Form.CrmStatus.CrmStatus" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/form-widgets/crm-status-field" name="CrmStatus" />
		<add type="pavliks.PortalConnector.Controls.Form.CrmRatingField.CrmRatingField" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/form-widgets/crm-rating-field" name="CrmRatingField" />
		<add type="pavliks.PortalConnector.Controls.Form.CrmSignature.CrmSignature" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/form-widgets/crm-signature" name="CrmSignature" />
		<add type="pavliks.PortalConnector.Controls.Form.CrmSystemField.CrmSystemField" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/form-widgets/crm-system-field" name="CrmSystemField" />
		<add type="pavliks.PortalConnector.Controls.Form.CrmQueryString.CrmQueryString" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/form-widgets/crm-querystring" name="CrmQueryString" />
		<add type="pavliks.PortalConnector.Controls.Form.CrmStaticValue.CrmStaticValue" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/form-widgets/crm-static-value" name="CrmStaticValue" />
		<add type="pavliks.PortalConnector.Controls.Form.CrmNotes.CrmNotes" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/form-widgets/crm-notes" name="CrmNotes" />
		<add type="pavliks.PortalConnector.Controls.Form.CrmImage.CrmImage" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/form-widgets/crm-image" name="CrmImage" />
		<add type="pavliks.PortalConnector.Controls.Form.CrmFileUpload.CrmFileUpload" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/form-widgets/crm-file-upload" name="CrmFileUpload" />
		<add type="pavliks.PortalConnector.Controls.Form.CrmSubGridView.CrmSubGridView" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/form-widgets/crm-sub-grid-view" name="CrmSubGridView" />
		<add type="pavliks.PortalConnector.Controls.Form.CrmValidator.CrmValidator" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/form-widgets/crm-validator" name="CrmValidator" />
		<add type="pavliks.PortalConnector.Controls.Form.CrmWorkflow.CrmWorkflow" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/form-widgets/crm-workflow" name="CrmWorkflow" />
		<add type="pavliks.PortalConnector.Controls.Form.SpDocumentGrid.SpDocumentGrid" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/form-widgets/microsoft-sharepoint-document" name="SpDocumentGrid" />
		<add type="pavliks.PortalConnector.Controls.Form.RulesManager.RulesManager" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/form-widgets/rules-manager" name="RulesManager" />
		<add type="pavliks.PortalConnector.Controls.Form.ProductSelector.ProductSelector" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/form-widgets/product-selector" name="ProductSelector" />
		<add type="pavliks.PortalConnector.Controls.Form.MultiFormStepButtons.MultiFormStepButtons" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/form-widgets/multi-form-step-buttons" name="MultiFormStepButtons" />
		<add type="pavliks.PortalConnector.Controls.Form.MultiPageStepButtons.MultiPageStepButtons" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/form-widgets/multi-page-step-buttons" name="MultiPageStepButtons" />
		<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" url="http://www.crmportalconnector.com/developer-network/documentation/help-file/page-widgets/crm-shape-map" name="MvcControllerProxy" />
	</helpFileLocations>
	<installedModuleVersions tpc="3.3.9161.1155" tpcEcommerce="3.3.9161.1155" tpcExtensions="3.3.9161.1155" knowledgeBase="3.3.9161.1155" />
</portalConnectorConfig>