<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6110.0" authCookieName=".SFAUTH-SHUNGHAMwebsite" rolesCookieName=".SFROLES-SHUNGHAMwebsite" validationKey="18FFF18D7331496C628C0C63F7C74A88EFD7F87D09B057E0C1D7BA352C5F4A9694D09069056C4F9DA38191D50F22C48DBAD3944AEEAD9D4DA4BAC0E22668E023" decryptionKey="3BE58E602E7C486FAA1FE4818D4160C1EDE953F413CED04C4B8F072BD8D85F86" loggingCookieName=".SFLOG-SHUNGHAMwebsite">
	<securityTokenIssuers>
		<add key="59476CD9FDA3296B2231F0400AA6A6095810771EAB9CCC1BE73BB8A7781323C0" encoding="Hexadecimal" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="59476CD9FDA3296B2231F0400AA6A6095810771EAB9CCC1BE73BB8A7781323C0" encoding="Hexadecimal" realm="http://localhost" />
	</relyingParties>
	<permissions>
		<config:link name="Blog" path="blogsConfig/permissions/Blog" module="Blogs" />
		<config:link name="BlogPost" path="blogsConfig/permissions/BlogPost" module="Blogs" />
		<config:link name="List" path="listsConfig/permissions/List" module="Lists" />
		<config:link name="ListItem" path="listsConfig/permissions/ListItem" module="Lists" />
		<permission title="Dynamic field permissions" description="Represents the permissions for dynamic fields." loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="DynamicFields">
			<actions>
				<add title="View {0}" description="Allows or denies viewing a dynamic field." type="View" name="View" />
				<add title="Modify {0}" description="Allows or denies changes to existing dynamic field." type="Modify" name="Modify" />
				<add title="Change a {0} permissions" description="Allows or denies changing the permissions of a dynamic field." type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="ForumGroupPermissions" description="ForumPermissionsDescription" resourceClassId="ForumsResources" loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="ForumGroup">
			<actions>
				<add title="CreateForumGroupAction" description="CreateForumGroupActionDescription" resourceClassId="ForumsResources" type="Create" name="CreateGroup" />
				<add title="ModifyForumGroupAction" description="ModifyForumGroupActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyGroup" />
				<add title="DeleteForumGroupAction" description="DeleteForumGroupActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeleteGroup" />
				<add title="ChangeGroupPermissionsAction" description="ChangeGroupPermissionsActionDescription" resourceClassId="ForumsResources" type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="ForumPermissions" description="ForumPermissionsDescription" resourceClassId="ForumsResources" loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="Forum">
			<actions>
				<add title="ViewForumAction" description="ViewForumActionDescription" resourceClassId="ForumsResources" type="View" name="ViewForum" />
				<add title="CreateForumAction" description="CreateForumActionDescription" resourceClassId="ForumsResources" type="Create" name="CreateForum" />
				<add title="ModifyForumAction" description="ModifyForumActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyForum" />
				<add title="DeleteForumAction" description="DeleteForumActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeleteForum" />
				<add title="CreateThreadAction" description="CreateThreadActionDescription" resourceClassId="ForumsResources" type="Create" name="CreateThread" />
				<add title="ModifyThreadAction" description="ModifyThreadActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyThread" />
				<add title="ManageThreadAction" description="ManageThreadActionDescription" resourceClassId="ForumsResources" type="Modify" name="ManageThread" />
				<add title="DeleteThreadAction" description="DeleteThreadActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeleteThread" />
				<add title="CreatePostAction" description="CreatePostActionDescription" resourceClassId="ForumsResources" type="Create" name="CreatePost" />
				<add title="ModifyPostAction" description="ModifyPostActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyPost" />
				<add title="DeletePostAction" description="DeletePostActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeletePost" />
				<add title="ChangeForumPermissionsAction" description="ChangeForumPermissionsActionDescription" resourceClassId="ForumsResources" type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<config:link name="Translations" path="translationsConfig/permissions/Translations" module="Translations" />
	</permissions>
	<customPermissionsDisplaySettings>
		<customSet setName="General" config:flags="1">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.News.Model.NewsItem, Telerik.Sitefinity.ContentModules" path="newsConfig/customPermissionsDisplaySettings/General/securedObjectCustomPermissionSets/Telerik.Sitefinity.News.Model.NewsItem, Telerik.Sitefinity.ContentModules" module="News" />
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.Blog" path="blogsConfig/customPermissionsDisplaySettings/General/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.Blog" module="Blogs" />
				<config:link typeName="Telerik.Sitefinity.Events.Model.Event" path="eventsConfig/customPermissionsDisplaySettings/General/securedObjectCustomPermissionSets/Telerik.Sitefinity.Events.Model.Event" module="Events" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="Blog">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.Blog" path="blogsConfig/customPermissionsDisplaySettings/Blog/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.Blog" module="Blogs" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="BlogPost">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.Blog" path="blogsConfig/customPermissionsDisplaySettings/BlogPost/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.Blog" module="Blogs" />
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.BlogPost" path="blogsConfig/customPermissionsDisplaySettings/BlogPost/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.BlogPost" module="Blogs" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="List">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Lists.Model.List" path="listsConfig/customPermissionsDisplaySettings/List/securedObjectCustomPermissionSets/Telerik.Sitefinity.Lists.Model.List" module="Lists" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="ListItem">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Lists.Model.List" path="listsConfig/customPermissionsDisplaySettings/ListItem/securedObjectCustomPermissionSets/Telerik.Sitefinity.Lists.Model.List" module="Lists" />
				<config:link typeName="Telerik.Sitefinity.Lists.Model.ListItem" path="listsConfig/customPermissionsDisplaySettings/ListItem/securedObjectCustomPermissionSets/Telerik.Sitefinity.Lists.Model.ListItem" module="Lists" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="ForumGroup">
			<securedObjectCustomPermissionSets>
				<securedObjectType typeName="Telerik.Sitefinity.Forums.Model.ForumGroup">
					<customSecurityActions>
						<customSecurityAction showActionInList="False" name="CreateGroup" />
						<customSecurityAction showActionInList="True" title="ModifyThisGroupAction" resourceClassId="ForumsResources" name="ModifyGroup" />
						<customSecurityAction showActionInList="True" title="DeleteThisGroupAction" resourceClassId="ForumsResources" name="DeleteGroup" />
						<customSecurityAction showActionInList="True" title="ChangeThisGroupPermissionsAction" resourceClassId="ForumsResources" name="ChangePermissions" />
					</customSecurityActions>
				</securedObjectType>
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="Forum">
			<securedObjectCustomPermissionSets>
				<securedObjectType typeName="Telerik.Sitefinity.Forums.Model.Forum">
					<customSecurityActions>
						<customSecurityAction showActionInList="False" name="CreateForum" />
						<customSecurityAction showActionInList="True" title="ViewThisForumAction" resourceClassId="ForumsResources" name="ViewForum" />
						<customSecurityAction showActionInList="True" title="ModifyThisForumAction" resourceClassId="ForumsResources" name="ModifyForum" />
						<customSecurityAction showActionInList="True" title="DeleteThisForumAction" resourceClassId="ForumsResources" name="DeleteForum" />
						<customSecurityAction showActionInList="True" title="ChangeThisForumPermissionsAction" resourceClassId="ForumsResources" name="ChangePermissions" />
					</customSecurityActions>
				</securedObjectType>
			</securedObjectCustomPermissionSets>
		</customSet>
	</customPermissionsDisplaySettings>
	<applicationRoles>
		<role id="4ee59697-e4e8-4f50-8dbf-aa4407716cab" name="Everyone" config:flags="1" />
		<role id="7abe35d1-a269-439c-ba9c-f48a1171223a" name="Anonymous" config:flags="1" />
		<role id="d688af47-bec7-469a-a81a-398bd9baf7f2" name="Authenticated" config:flags="1" />
		<role id="9471c2ed-6f8f-4d5d-882f-b6b048718e5a" name="Owner" config:flags="1" />
		<role id="17f22477-986b-417b-acf0-49c3c19a7b2c" name="Administrators" config:flags="1" />
		<role id="ea6951ea-2a25-4c1a-9913-2dc90702b094" name="BackendUsers" config:flags="1" />
		<role id="ff62d006-518d-42c9-955b-45396b73b884" name="Authors" config:flags="1" />
		<role id="12c3107c-62e2-4ccc-a7a7-22f717149785" name="Editors" config:flags="1" />
		<role id="be949ae9-3594-4777-9a5f-5335b443d13d" name="Designers" config:flags="1" />
		<role id="89122440-e238-444e-ae7f-78f68d0015a4" name="Users" config:flags="1" />
	</applicationRoles>
</securityConfig>