<?xml version="1.0" encoding="utf-8"?>
<workflowConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6110.0">
	<workflowsTypes>
		<add serviceUrl="~/DefaultWorkflows/AnyContentApprovalWorkflow.xamlx" title="NewsTitle" resourceClassId="NewsResources" moduleName="News" contentType="Telerik.Sitefinity.News.Model.NewsItem" />
		<add serviceUrl="~/DefaultWorkflows/AnyContentApprovalWorkflow.xamlx" title="BlogsTitle" resourceClassId="BlogResources" moduleName="Blogs" contentType="Telerik.Sitefinity.Blogs.Model.BlogPost" />
		<add serviceUrl="~/DefaultWorkflows/AnyContentApprovalWorkflow.xamlx" title="ModuleTitle" resourceClassId="EventsResources" moduleName="Events" contentType="Telerik.Sitefinity.Events.Model.Event" />
		<add serviceUrl="~/DefaultWorkflows/AnyContentApprovalWorkflow.xamlx" title="Lists" resourceClassId="ListsResources" moduleName="Lists" contentType="Telerik.Sitefinity.Lists.Model.ListItem" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="General product &lt;i&gt;(Ecommerce)&lt;/i&gt;" moduleName="Ecommerce" contentType="Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_generalproduct" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Book &lt;i&gt;(Ecommerce)&lt;/i&gt;" moduleName="Ecommerce" contentType="Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_book" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Song &lt;i&gt;(Ecommerce)&lt;/i&gt;" moduleName="Ecommerce" contentType="Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_song" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Software &lt;i&gt;(Ecommerce)&lt;/i&gt;" moduleName="Ecommerce" contentType="Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_software" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Testimonial" moduleName="Testimonials" contentType="Telerik.Sitefinity.DynamicTypes.Model.Testimonials.Testimonial" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Product" moduleName="Products" contentType="Telerik.Sitefinity.DynamicTypes.Model.Products.Product" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Team member" moduleName="Team members" contentType="Telerik.Sitefinity.DynamicTypes.Model.Teammembers.TeamMember" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Job Opening" moduleName="Job Openings" contentType="Telerik.Sitefinity.DynamicTypes.Model.JobOpenings.JobOpening" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="ProductFeature" moduleName="ProductFeatures" contentType="Telerik.Sitefinity.DynamicTypes.Model.ProductFeatures.Productfeature" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Article" moduleName="Knowledge Base" contentType="Telerik.Sitefinity.DynamicTypes.Model.KnowledgeBase.Article" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="CRM Entity" moduleName="The Portal Connector" contentType="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnector.CrmEntity" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="CRM Form Submission" contentType="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnector.CrmFormSubmission" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Error Log" contentType="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnector.ErrorLog" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Blackout Date" contentType="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnector.BlackoutDate" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="CRM PriceListItem" contentType="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnector.CrmPriceListItem" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="CRM PriceList" contentType="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnector.CrmPriceList" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="CRM OptionSet Metadata" contentType="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnector.CrmOptionSetMetadata" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="CRM Option Metadata" contentType="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnector.CrmOptionMetadata" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="CRM Attribute Metadata" contentType="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnector.CrmAttributeMetadata" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="CRM Relationship Metadata" contentType="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnector.CrmRelationshipMetadata" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="CRM Entity Metadata" contentType="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnector.CrmEntityMetadata" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="CRM Price List" moduleName="The Portal Connector Ecommerce" contentType="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnectorEcommerce.CrmPriceList" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="CRM Price List Item" contentType="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnectorEcommerce.CrmPriceListItem" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="CRM Product" contentType="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnectorEcommerce.CrmProduct" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="CRM Discount List" contentType="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnectorEcommerce.CrmDiscountList" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="CRM Product Property" contentType="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnectorEcommerce.CrmProductProperty" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="CRM Product Property Option" contentType="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnectorEcommerce.CrmProductPropertyOption" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="CRM Discount" contentType="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnectorEcommerce.CrmDiscount" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Saved Query" moduleName="The Portal Connector Extensions" contentType="Telerik.Sitefinity.DynamicTypes.Model.ThePortalConnectorExtensions.SavedQuery" />
	</workflowsTypes>
</workflowConfig>